@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-red: #DC2626;
  --brand-darkred: #991B1B;
  --brand-pink: #EC4899;
  --brand-lightpink: #F9A8D4;
}

body {
  background-color: #DC2626;
  color: #ffffff;
}